<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Simple Shopping Cart</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app" v-cloak>
    <template v-if="list.length">
      <table>
        <thead>
          <tr>
            <th>序号</th>
            <th>
              <button @click="handleCheckAll()">{{ title }}</button>
            </th>
            <th>种类</th>
            <th>商品名称</th>
            <th>商品单价</th>
            <th>购买数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(item, index) in list">
            <tr v-for="(_item, _index) in item">
              <td>{{ _index + 1 }}</td>
              <td>
                <input type="checkbox" @click="handleCheckbox(index, _index)" :checked="list[index][_index].checked">
              </td>
              <td>{{ _item.id }}</td>
              <td>{{ _item.name }}</td>
              <td>{{ _item.price }}</td>
              <td>
                <button @click="handleReduce(index, _index)" :disabled="_item.count===1">-</button>
                {{ _item.count }}
                <button @click="handleAdd(index, _index)">+</button>
              </td>
              <td>
                <button @click="handleRemove(index, _index)">移除</button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      <div>总价：¥ {{ totalPrice }}</div>
    </template>
    <div v-else>购物车为空</div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>
</html>